.herowrapper {
  background-image: url("../../assets/images/hero-thumb.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 145px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.herowrapper h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--sea-color);
  margin-bottom: 10px;
}

.herowrapper h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: var(--white-color);
  font-family: "Quicksand";
}

.herowrapper p {
  margin-top: 20px;
  width: 595px;
  max-width: 100%;
  color: var(--white-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 991px) {
  .herowrapper {
    height: 350px;
    padding: 0;
    justify-content: center;
  }
  .herowrapper h4 {
    font-size: 15px;
  }
  .herowrapper h1 {
    font-size: 50px;
  }
  .herowrapper p {
    font-size: 16px;
  }
}

@media screen and (max-width: 763px) {
  .herowrapper {
    height: 535px;
    padding: 80px 15px;
    justify-content: flex-start;
    background-image: url("../../assets/images/hero-thumb-mobile.png");
    background-size: 100% 535px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: -8px;
  }
  .herowrapper h1 {
    font-size: 34px;
    line-height: normal;
  }
}
